body {
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
    background-color: #121212;
    color: white;
}

.light-theme {
    background-color: white;
    color: black;
}

img {
    width: 300px;
    display: block;
    margin-bottom: 40px;
}

.toggle-btn {
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
